# ------------------------------------------------------------------------------
# Python
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------------------------------------------------------
# Virtual Environments
# ------------------------------------------------------------------------------
.venv/
venv/
env/
ENV/

# ------------------------------------------------------------------------------
# Environment Variables & Secrets
# ------------------------------------------------------------------------------
.env
.env.*
!.env.example

# ------------------------------------------------------------------------------
# Databases
# ------------------------------------------------------------------------------
*.db
*.sqlite3

# ------------------------------------------------------------------------------
# IDE / Editor
# ------------------------------------------------------------------------------
.vscode/
.idea/

# ------------------------------------------------------------------------------
# Testing & Coverage
# ------------------------------------------------------------------------------
.pytest_cache/
.coverage
htmlcov/

# ------------------------------------------------------------------------------
# Alembic
# ------------------------------------------------------------------------------
migrations/versions/*.pyc
migrations/__pycache__/